
@{
    ViewBag.Title = "Add Movie";
}

<h2>@ViewBag.Title</h2>

<form action="~/Movies/Add" method="post">
    <div class="form-group">
        <label for="tbName">Name</label>
        <input type="text" class="form-control" id="tbName" name="Name" />
    </div>
    <div class="form-group">
        <label for="tbProductionYear">Production Year</label>
        <input type="text" class="form-control" id="tbProductionYear" name="ProductionYear" />
    </div>
    <div class="form-group">
        <label for="tbBoxOfficeReturn">Box Office Return</label>
        <input type="text" class="form-control" id="tbBoxOfficeReturn" name="BoxOfficeReturn" />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    &nbsp;
    <button type="reset" class="btn btn-info">Clear</button>
</form>